.item {
	display: block;
	margin: 16px auto;
	text-align: center;
}

.item h1 {
	text-transform: capitalize;
}

.post {
	text-align: center;
	font-family: 'Caveat', sans-serif;
	color: #0d0d0d;
	font-weight: 400;
}

.item h3 {
	color: #143d73;
}
