@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Instrument+Sans:wght@400;500;600;700&display=swap');

:root {
	--color-primary: #6da67b;
	--color-secondary: #143d73;
	--color-dark: #0d0d0d;
	--color-light: #dddddd;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: var(--color-primary);
	display: flex;
	flex-direction: column;
	align-items: center;
}
